[Unit]
Description=Run Minecraft Server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/minecraft
ExecStart=/usr/bin/java -Xmx1024M -Xms1024M -jar spigot-1.16.5.jar nogui

[Install]
WantedBy=multi-user.target